section.feature#feature
    h2.feature__header FEATURE
    h3.feature__text We have best feature in Shoes
    .feature__content
        .feature__reklam
            div.feature__circle
                img.feature__reklam--img(src="/images/Vector1.png" alt="*")
            h4.feature__headsmall Quality
            .feature__text--small Lorem ipsum dolor sit consectetur adipiscing elit. Viverra in ul
            a.feature__link(href="") Read more <span class="feature__arrow"></span> 
        .feature__reklam
            div.feature__circle
                img.feature__reklam--img(src="/images/Vector2.png" alt="*")
            h4.feature__headsmall Flexible
            .feature__text--small Lorem ipsum dolor sit consectetur adipiscing elit. Viverra in ul
            a.feature__link(href="") Read more <span class="feature__arrow"></span> 

        .feature__reklam
            div.feature__circle
                img.feature__reklam--img(src="/images/Vector3.png" alt="*")
            h4.feature__headsmall Long Lasting
            .feature__text--small Lorem ipsum dolor sit consectetur adipiscing elit. Viverra in ul
            a.feature__link(href="") Read more <span class="feature__arrow"></span> 