section.footer#footer
    ul.footer__row.footer__row--1
        li.footer__head
            img.footer__logo(src="/images/vector.svg", alt="*")
            a.footer__head.footer__head--puma(href='*') PUMA
               
        li.footer__nav
            address 
                a.footer__address(href="https://goo.gl/maps/apzdRykQe5ti1zYx6" target="_blank") 10 New Town Street, V2 5NW, Newstate, USA.
        li.footer__nav 
            a.footer__nav(href="mailto:mail@htmlacademy.ru") shovasatkhira88@gmail.com
        li.footer__nav
            a.footer__url(href="") 
                img(src="/images/fb.png", alt="*")
            a.footer__url(href="") 
                img(src="/images/inst.png", alt="*")
            a.footer__url(href="") 
                img(src="/images/tw.png", alt="*")
            a.footer__url(href="") 
                img(src="/images/google.png", alt="*")
    ul.footer__row.footer__row--2
        li.footer__head Our services
        li.footer__nav
            a.footer__url.footer__nav(href="") About us
        li.footer__nav
            a.footer__url.footer__nav(href="") Feature
        li.footer__nav 
            a.footer__url.footer__nav(href="") Gallary
    ul.footer__row.footer__row--3
        li.footer__head Support
        li.footer__nav 
            a.footer__url.footer__nav(href="") Privacy  Policy
        li.footer__nav 
            a.footer__url.footer__nav(href="") Terms  Condition
        li.footer__nav 
            a.footer__url.footer__nav(href="") Support System
    ul.footer__row.footer__row--4
        li.footer__head Contact us
        li.footer__nav.footer__nav--hoveroff Lorem ipsum dolor sit amet consectetur adipiscin.
        li.footer__nav
            form.footer__form(action="*")
                input.footer__input(type="email" name="email" placeholder="Mail adress") 
                button.footer__submit Send
.footer__copy Copyright 2021 The PUMA All Rights Reserved.