section.header#header
    .header__bg
    .header__logo 
        a.header__logo--name(href='*') PUMA
            img.header__logo--img(src="/images/vector.svg", alt="*")
    include navigation 
    .header__stend
        .header__slider
        .header__item.slider.autoplay
            img(src="/images/cross.png" alt="*")
            img(src="/images/cross.png" alt="*")
            img(src="/images/cross.png" alt="*")
            img(src="/images/cross.png" alt="*")
    h3.header__text Life is better in running <span class="header__span">shoes</span>.
    .header__text--small Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas leo ultrices
    include dropdown