nav.menu
      ul.menu__top
         li
            form.active(action="*")
               button.menu__button КАТАЛОГ ТОВАРОВ
            ul.menu__sub
               li
                  ul.menu__sub
                     li
                        a(href='') основной товар
                     li
                        a(href='') основной товар
                     li
                        a(href='') основной товар
               li
                  a(href='') Железобетонные изделия
                  ul.menu__sub
                     li
                        a(href='') Облицовочный кирпич
                     li
                        a(href='') Керамические кирпичи
                     li
                        a(href='') Фасадный кирпич
                     li
                        a(href='') Рядовой кирпич
                     li
                        a(href='') Черновой кирпич
                     li
                        a(href='') Кирпич клинкерный
                     li
                        a(href='') Кирпич рабочий
                     li
                        a(href='') Кирпич ручной формовки
                     li
                        a(href='') Строительный кирпич
                     li
                        a(href='') Крупноформатный блок
                     li
                        a(href='') Поризованный кирпич
                     li
                        a(href='') Целевой кирпич
               li
                  a(href='') Керамические блоки
                  ul.menu__sub
                     li
                        a(href='') основной товар
                     li
                        a(href='') основной товар
                     li
                        a(href='') основной товар
               li
                  a(href='') Кирпичи
                  ul.menu__sub
                     li
                        a(href='') основной товар
                     li
                        a(href='') основной товар
                     li
                        a(href='') основной товар
               li
                  a(href='') Кровельные материалы
                  ul.menu__sub
                     li
                        a(href='') основной товар
                     li
                        a(href='') основной товар
                     li
                        a(href='') основной товар
               li
                  a(href='') Сухие смеси
                  ul.menu__sub
                     li
                        a(href='') основной товар
                     li
                        a(href='') основной товар
                     li
                        a(href='') основной товар
               li
                  a(href='') Тротуарная плитка
                  ul.menu__sub
                     li
                        a(href='') основной товар
                     li
                        a(href='') основной товар
                     li
                        a(href='') основной товар
               li
                  a(href='') Бордюрный камень
                  ul.menu__sub
                     li
                        a(href='') основной товар
                     li
                        a(href='') основной товар
                     li
                        a(href='') основной товар
