nav.menu
      
      ul.menu__block
         li.menu__click
            a.menu__link(href='#dropdown') Menu
         li.menu__click
            a.menu__link(href='#testimonials') About
         li.menu__click
            a.menu__link(href='#feature') Feature
         li.menu__click
            a.menu__link(href='#gallary') Gallary
      +button('Buy now', 'makeButton menu__button', '#sign')
      
