section.testimonials#testimonials
    h2.testimonials__header Testimonials
    .testimonials__about
        img.testimonials__foto(src="/images/Rectangle13.jpg", alt="*")
        .testimonials__container
            .testimonials__slider        
            .testimonials__quote.slider.single-item
                .testimonials__slide
                    img.testimonials__avatar(src="/images/avatar.png", alt="*")
                    h4.testimonials__smallhead Their services was best and friendly
                    .testimonials__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus tempor id faucibus quam lobortis.
                    .testimonials__author Abram Korsgaard
                    .testimonials__sport Athletic
                .testimonials__slide
                    img.testimonials__avatar(src="/images/avatar.png", alt="*")
                    h4.testimonials__smallhead Their services was best and friendly
                    .testimonials__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus tempor id faucibus quam lobortis.
                    .testimonials__author Abram Korsgaard
                    .testimonials__sport Athletic
                .testimonials__slide
                    img.testimonials__avatar(src="/images/avatar.png", alt="*")
                    h4.testimonials__smallhead Their services was best and friendly
                    .testimonials__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus tempor id faucibus quam lobortis.
                    .testimonials__author Abram Korsgaard
                    .testimonials__sport Athletic
    .testimonials__sign#sign
        img.testimonials__logo(src="/images/puma.png",alt="*")
        .testimonials__form
            .testimonials__sign--header Sign up to our Newsletter
            .testimonials__sign--text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu sagittis, Atiam lorem sed justo amet viverra in a.
            form.testimonials__sign--form(action="*")
                input.testimonials__input(type="email" name="email" placeholder="Enter your email address") 
                button.testimonials__submit Send
            