section.video#video
    .video__left
        h2.video__header VIDEO 
        .video__text Desire the feel of satisfaction.
        .video__text--small Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas leo ultrices commauris risus.
    .video__right
        .video__button
        img.video__next(src="/images/Rectangle32.jpg"  alt='*')
        img.video__play(src="/images/Rectangle3.jpg" alt='*')
        