$smallText: 14px;
$baseText: 16px;
$noramlText: 18px;
$mediumText: 20px;
$bigText: 32px;
$ultraText: 44px;


$blackColor: #050505;
$whiteColor: #fefdfd;
$redColor: #e80909;
$pinkColor: #fdeee8;
$orangeColor: #ee5514;
$greyColor: #695c56;

